<launch>
  <arg name="namespace" default="mavros"/>
  <arg name="fcu_url" default="udp://@127.0.0.1:14550"/>

  <include file="$(find-pkg-share mavros)/launch/node.launch">
    <arg name="namespace" value="$(var namespace)"/>
    <arg name="fcu_url" value="$(var fcu_url)"/>
    <arg name="pluginlists_yaml" value="$(find-pkg-share YOUR_PKG)/config/apm_pluginlists.yaml"/>
    <arg name="config_yaml" value="$(find-pkg-share YOUR_PKG)/config/apm_config.yaml"/>
  </include>
</launch>
